﻿@model ForumProject.PresentationLayer.Models.UserViewModel
@using System.Web.WebPages.Html
@{
    ViewBag.Title = "Edit user";
  
}
@System.Web.Optimization.Scripts.Render(
                        "~/bundles/jquery",
                        "~/bundles/jqueryui",
                        "~/bundles/jqueryval",
                        "~/bundles/cookie",
                        "~/bundles/datepicker",
                        "~/bundles/myScripts")

<h2>@Resources.Resource.UserProfile</h2>

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data", id = "fileUpload" }))
{    
    <fieldset>
        <div id="card">
            <div id="main_card">
                <div id="img-wrapper">
                    <img id="img"  src="@Url.Action("GetFile", "User", new { user_id = Model.Id })" class='backup_picture' width="95px" height="95px"  />
                </div>
                
                    <div>
                    @Html.Label(@Resources.Resource.FirstName)

                    @Html.EditorFor(model => Model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    <div>
                    @Html.Label(@Resources.Resource.LastName)

                    @Html.EditorFor(model => Model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    <div>
                    @Html.Label(@Resources.Resource.Birthday)

                    @Html.TextBoxFor(model => Model.Birthday, new { @class = "datePicker" })
                    @Html.ValidationMessageFor(model => model.Birthday)
                        </div>
                    <div>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
           
                        @Html.Label(@Resources.Resource.Role)
           
                        @Html.DropDownListFor(m => Model.Role, new SelectList(
                  new List<Object>{ 
                       new { value = 1 , text = @Resources.Resource.Admin},
                       new { value = 2 , text = @Resources.Resource.User}
                     
                    }, "value", "text", 2))

                    }

            </div>
                    @*<div>
                    <input type="file" id="file" name="file" />
                        </div>*@

                <div class="input_file">
    <input type="file"  id="file" name="file">
    <div class="fake_file">
        <input type="text" class="fake_file_input"> <input type="button" value=@Resources.Resource.ChooseImage>

    </div>
    
                 
</div>


               
                <div style="top:10px;">
                <input type="submit" value=@Resources.Resource.Save />
                    </div>
            </div>
        </div>
    </fieldset>
}

<div>
    <a href class="link_back">@Resources.Resource.BackToList</a>
</div>

<script>
  function showFile(e) {
        var files = e.target.files;
        for (var i = 0, f; f = files[i]; i++) {
            if (!f.type.match('image.*')) continue;
            var fr = new FileReader();
            fr.onload = (function (theFile) {
                return function (e) {
                    var li = document.createElement('li');
                    document.getElementById("img").src = e.target.result;

                };
            })(f);

            fr.readAsDataURL(f);
        }
    }
  document.getElementById('file').addEventListener('change', showFile, false);


  $(document).ready(function () {
      $('.input_file input[type=file]').change(function () {
          var t = $(this).val();
          if (t.indexOf('C:\\fakepath\\') + 1) t = t.substr(12);
          var e = $(this).next().find('.fake_file_input');
          e.val(t);
      });
      $('.clear_input').click(function () {
          var a = $(this).parent();
          var e = a.find('.fake_file_input');
          var t = a.find('input[type=file]');
          t.replaceWith('<input type="file" name="" >');
          e.val('');
      });
  });


$(document).ready(function()
{
    $(".backup_picture").error(function(){
        $(this).attr('src', '/Content/themes/base/images/user_default.png');
    });
});


    </script>