﻿@model ForumProject.PresentationLayer.Models.CommentViewModel
@{
    ViewBag.Title = "PartialViewArticle";
}

<div id="leaveComment">
    @Resources.Resource.LeaveComment
</div>

<br />
@Html.Label(@Resources.Resource.TitleComment)

<div class="editor-field">
    @Html.EditorFor(model => Model.TitleBaseComment, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.TitleBaseComment)
</div>

<br />
<div class="editor-label">
    @Html.Label(@Resources.Resource.Comment)
</div>

<div class="editor-field">
    @Html.TextAreaFor(model => Model.ContentBaseComment, new { @class = "create_base_comment" })
    @Html.ValidationMessageFor(model => model.ContentBaseComment)
</div>




