﻿@model ForumProject.PresentationLayer.Models.ArticleViewModel
@using ForumProject.PresentationLayer.Helpers;

@{
    ViewBag.Title = "PartialViewArticle";
}

<div id="ReviewComments">
    @Resources.Resource.Comments
</div>

<table id="table">

    @foreach (var item in Model.BaseComments)
    {               
        <tr>
            <h5 class="leftstr">
                <img src="@Url.Action("GetFile", "User", new { user_id = @item.IdUser })" class='backup_picture' width="30px" height="30px" />
                @item.FirstNameUser @item.LastNameUser
            </h5>

            <p class="rightstr">

                @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.Identity.Name == item.FirstNameUser)
                {
                    <button id="btnDel" onclick="DeleteComment(@Model.Id,@item.Id)">
                        <img src="@Url.Content("~/Content/themes/base/images/remove.png")" height="10" width="10"/>
                    </button>
                }
            </p>
            <div style="clear: left"></div>
            <h6>@item.TitleBaseComment
                <br />
                @item.ContentBaseComment</h6>
        </tr>
        <hr />

    }
</table>
<tfoot>
    <tr>
        <td colspan="3">
            <p>@Resources.Resource.Page @(Model.PageInfo.TotalItems < Model.PageInfo.PageNumber ? 0 : Model.PageInfo.PageNumber) @Resources.Resource.PageOf @Model.PageInfo.TotalPages</p>
            @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
            {
                if (i == Model.PageInfo.PageNumber)
                {
                @i
                }
                else
                {
                <a class="page-number" href="javascript:Paging(@Model.Id,@i);">@i</a>
                }
            }
        </td>
    </tr>
</tfoot>

<script>
    $(document).ready(function () {
        $(".backup_picture").error(function () {
            $(this).attr('src', '/Content/themes/base/images/user_default.png');
        });
    });
</script>



