﻿@charset "utf-8";


/*-- __Reset
------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, .nav, output, ruby, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, .nav, section
{
    display: block;
}

strong
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

body
{
    line-height: 1;
}

ol, ul
{
    list-style: none;
}

blockquote, q
{
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after
    {
        content: '';
        content: none;
    }

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

img
{
    border: none;
    -ms-interpolation-mode: bicubic;
}

textarea
{
    overflow: auto;
    resize: both;
}

button
{
    float: right;
    width: auto;
    overflow: visible;
    cursor: pointer;
}

    button::-moz-focus-inner
    {
        padding: 0;
        border: 0;
    }

input:focus
{
    outline: none;
}

label[for]
{
    color:darkslategray;
    /*cursor:none;*/
}

/*-- helpers ***
------------------------------------------------------------*/
*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.inline-block
{
    display: inline-block;
}


/*-- __Layout
------------------------------------------------------------*/
html, body
{
    height: 100%;
}

html
{
    margin: 0;
    padding: 0;
    background: #99b8cd url(/Content/themes/base/images/body.png) repeat-x left top;
}

body
{
    margin: 0;
    padding: 0;
    background: #0A9DFF url(/Content/themes/base/images/body.png) repeat-x left top;
}

h1
{
    font-size: 24px;
    margin-bottom: 20px;
}

h2
{
    font-size: 20px;
    margin-bottom: 10px;
    color:#08A5AB;
}

h3
{
    font-size: 18px;
    margin-bottom: 5px;
}

#gwrapper
{
}

.gheader
{
    background: url(/Content/themes/base/images/header.jpg) no-repeat left top;
    width: 980px;
    padding: 18px 16px 0 16px;
    height: 175px;
    margin: 0 auto;
}

.gheader1
{
    height: 90px;
    padding-left: 4px;
}

.gheader2
{
    height: 52px;
}

.gcontent
{
    background: url(/Content/themes/base/images/conbot.png) no-repeat center bottom;
}

.gcontent-in
{
    width: 980px;
    padding: 10px 15px;
    border-left: 1px solid #92b7d0;
    border-right: 1px solid #92b7d0;
    background: #f5f9fc url(/Content/themes/base/images/contop1.png) repeat-x left top;
    background: #ffffff;
    margin: 0 auto;
}

.gcontent-in2
{
    min-height: 680px;
}

.gfooter
{
    background: url(/Content/themes/base/images/footer.jpg) no-repeat center top;
    height: 199px;
}

.gfooter-in
{
    background: url(/Content/themes/base/images/footer.jpg) no-repeat center top;
    padding: 0 16px;
    width: 980px;
    margin: 0 auto;
    height: 199px;
    font: normal 11px verdana, Arial, Helvetica, sans-serif;
}

.gfooter1
{
    height: 52px;
    line-height: 30px;
    color: #323232;
}

.gfooter2
{
    text-align: center;
    color: #adcde2;
}

.size-site
{
    max-width: 100%;
    margin: 0 auto;
    background-color: #E3EAF2;
}

.wrapper
{
    min-height: 100%;
}

    .wrapper > .main-content
    {
        padding-bottom: 100px;
    }

.menu_content
{
    max-width: 80%;
    margin: 0 0 150px 150px;
}

#logindisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

    #logindisplay a:link
    {
        color: white;
        text-decoration: underline;
    }

    #logindisplay a:visited
    {
        color: white;
        text-decoration: underline;
    }

    #logindisplay a:hover
    {
        color: white;
        text-decoration: none;
    }

/* Header Logo */

.logo
{
    max-width: 100%;
    max-height: 500px;
    background-color: #1B3759;
}

.label_for_logo
{
    display: inline-block;
    font-size: 5em;
    text-shadow: 0.0em 0.2em 0.2em white;
    color: aliceblue;
    vertical-align: top;
    padding-left: 20px;
}

.img_for_login
{
    position: relative;
    margin: 0px 10px 0px 10px;
    text-align: center;
}

.label_for_login
{
    position: relative;
    display: inline-block;
    font-size: 1em;
    vertical-align: top;
    margin: 0px 0px 10px 10px;
}

    .label_for_login a
    {
        font-weight: 300;
        color: rgb(199, 230, 252);
    }

        .label_for_login a:hover
        {
            color: #178bfb;
        }


    .label_for_login h
    {
        color: #FFFFFF;
        font-family: georgia;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        font-variant: small-caps;
        word-spacing: 4px;
        text-transform: capitalize;
    }

.mem-area
{
    float: right;
    font: normal 11px verdana, Arial, Helvetica, sans-serif;
    color: #fff;
    width: 283px;
    padding-top: 12px;
}


.logo img
{
    border-radius: 10px;
    margin: 4px 0px 0px 20px;
    height: 100px;
    width: 100px;
}
/*End Header Logo */


/* Begin Navigation Bar Styling */
#nav
{
    width: 100%;
    float: left;
    margin: 7px 3px 3px 0px;
    padding: 0;
    list-style: none;
}    

    #nav li
    {
        float: left;
    }

        #nav li a
        {
            display: block;
            padding: 8px 15px;
            text-decoration: none;
            font-weight: bold;
            color: white;
            border-right: 1px solid #ccc;
        }

            #nav li a:hover
            {
                color: #178bfb;
                background-color: #fff;
            }

.last_item
{
    float: right;
    color: aquamarine;
    background-color: ActiveCaption;
}

/* End navigation bar styling. */




/* Article/Index styling */

table, th, td
{
    width: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

td
{
    background: #f1f1f1;
}

#name_column1
{
    background-image: url(/Content/themes/base/images/column_table.jpg);
    background-repeat: repeat-x;
    width: 30%;
    height: 42px;
    background-size: auto;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0 1px 0 #538394;
    color: #333;
    text-align: center;
    padding-top: 9px;
}

#name_column2
{
    background-image: url(/Content/themes/base/images/column_table.jpg);
    background-repeat: repeat-x;
    width: 20%;
    height: 42px;
    background-size: auto;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0 1px 0 #538394;
    color: #333;
    text-align: center;
    padding-top: 9px;
}

#ReviewComments,#leaveComment
{
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: #262930;
    width: 40%;
    padding: 14px;
    background: #08A5AB;
}

#col1
{
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: #262930;
    width: 40%;
    padding: 14px;
}

    #col1 a
    {
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
        color: #555758;
    }


#col2
{
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: #262930;
    width: 30%;
    padding: 14px;
}

#col3
{
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: #262930;
    width: 20%;
    padding: 14px;
}

#col4
{
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: #262930;
    width: 20%;
    padding: 14px;
}

.name_table
{
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1px;
    background-color: #d9d8d8;
}

.layout
{
    overflow: hidden;
}

    .layout DIV
    {
        float: left;
    }


#new_topic li a
{
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
}

    #new_topic li a:hover
    {
        color: rgb(24,24,24);
        border: 1px solid rgb(198,198,198);
        background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
    }

    #new_topic li a:active
    {
        color: rgb(51,51,51);
        border: 1px solid rgb(204,204,204);
        background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
        box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    }
    
#container ul
{
    list-style: none;
}

#container .buttons
{
    margin-bottom: 20px;
}

#sort
{
    float:right;
    padding-right:15px;
}

#container .list tr
{
    width: 100%;
    /*border-bottom: 1px dotted #CCC;*/
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.grid button
{
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px #d9d9d9 solid;
    color: #262626;
    cursor: pointer;
    display: inline-block;
    outline: none;
    font-size: .875rem;
    line-height: 1;
    margin: .15625rem 0;
    position: relative;
}

.grid img
{
    /*background: url(/Content/themes/base/images/grid.png) no-repeat;*/
    /*width: 30px;
    height: 30px;*/
}

.list button
{
    padding-right: 5px;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px #d9d9d9 solid;
    color: #262626;
    cursor: pointer;
    display: inline-block;
    outline: none;
    font-size: .875rem;
    line-height: 1;
    margin: .15625rem 0;
    position: relative;
}

.list img
{
    /*background: url(/Content/themes/base/images/list.png) no-repeat;*/
    /*width: 30px;
    height: 30px;*/
}

#container .grid tr
{
    float: left;
    width: 300px;
    height: auto;
   column-span:all;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#container .grid td
{
  
   column-span:all;
   border:none;
    
}


#str1
{
    width:50%;
}
#str2
{
    width:25%;
}
#str3
{
    width:25%;
}

#str1 a
{
    overflow: hidden;
    font-size: 14px;    
    font-weight: bold;
    color: #262930;
    text-overflow: ellipsis;
    text-decoration:none;
    cursor: auto;
}

.link a
{
    text-decoration:underline;
}

#str1 a:hover
{
       color: #003399;
}
#str2
{
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    color: #262930;
    text-overflow: ellipsis;
}

#str2 a
{
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    color: #BCBCBC;
    text-overflow: ellipsis;
}

#str3 a
{
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    color: #BCBCBC;
    text-overflow: ellipsis;
}

.oddrows {
    background:#f1f1f1;
   } 
.evenrows {
    background: #018dc4; 
  
   } 

/*.field-validation-error
{
    color:red;
}


.input-validation-error
{
    border-color:red;
}*/

#page
{
    /*position: absolute;
    bottom: 0px;*/
    text-align: center;
    position:absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


/*Login Page*/


#login
{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);
    height: auto;
    width: 400px;
    margin: 10px 0px 0px -200px;
    padding: 30px;
    position: absolute;
    left: 50%;
    z-index: 0;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
}

    #login:before
    {
        content: '';
        position: absolute;
        z-index: -1;
        border: 1px dashed #ccc;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
        box-shadow: 0 0 0 1px #fff;
    }

h1
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}

#inputs input
{
    background: #f1f1f1 url(/Content/themes/base/images/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 353px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

.username
{
    background-position: 0px -9px;
    width: 16px;
    height: 30px;
}

.password
{
    background-position: 0px -55px !important;
}

#inputs input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

#actions
{
    margin: -2px 0 0 0;
}

#submit
{
    background-color: #9EB1ED;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #B8C0F9, #C1CBDB);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
    float: left;
    height: 35px;
    padding: 0;
    width: auto;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #6F697E;
}

    #submit:hover, #submit:focus
    {
        background-color: #2F92F2;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
        background-image: -webkit-linear-gradient(top, #2F81FF, #85A5F7);
        background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
        background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
        background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
        background-image: linear-gradient(top, #ffb94b, #fddb6f);
    }

    #submit:active
    {
        outline: none;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    }

    #submit::-moz-focus-inner
    {
        border: none;
    }

#actions a
{
    color: #3151A2;
    float: right;
    line-height: 35px;
    margin-left: 10px;
}

#back
{
    display: block;
    text-align: center;
    position: relative;
    top: 60px;
    color: #999;
}

/*Login Page*/

.delete
{
 	background: url(/Content/themes/base/images/remove.png) no-repeat;
	  background-size: contain;
	
}

.edit
{
    background: url(/Content/themes/base/images/Edit.png) no-repeat;
	  background-size: contain;
	
}

#text_welcome
{
    color: #FF1900;
    font-family: georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    font-variant: small-caps;
    word-spacing: 4px;
    text-transform: capitalize;
}

hr
{
    border: none;
    color: rgb(203, 199, 199);
    background-color: rgb(203, 199, 199);
    height: 2px;
}


.leftstr, .rightstr
{
    
    float: left;
    width: 90%;
    font: -webkit-small-control;
    font-family: cursive;
    color: darkcyan;
    font-size: 17px;
   
}

.rightstr
{
    text-align: right;
    width: 40px;
    height: 30px;
    margin-top:15px;
} 

#content_topic
{
    width: 100%;
    height: 300px;
    margin-top: 5px;
    float: left;
    overflow-y: scroll;
    overflow-x: auto;
    background-color: rgb(241, 244, 244);
    white-space:pre-wrap;
}

textarea
{
    width: 100%;
    height: 300px;
    margin-top: 5px;
    overflow-y: scroll;
    overflow-x: auto;
    background-color: rgb(241, 244, 244);
}

.create_base_comment
{
    width: 100%;
    height: 150px;
    margin-top: 5px;
  overflow-y: auto;
    overflow-x: auto;
    background-color: #ffffff;
}

.field-validation-error
{
    color: #f00;
}

.field-validation-valid
{
    display: none;
}

.button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal medium/normal Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #22537B;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:hover {
  border: 1px solid #007cad;
  background: rgba(0,142,198,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:active {
  border: 1px solid #018dc4;
  background: #00a6e8;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
  text-shadow: none;
  -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

 input#login_anim   {
 background:url(/Content/themes/base/images/btn-login.png) no-repeat 5px 5px #2763B2;
  width: 100px;
  cursor:pointer;
  border-radius:50px;
  padding:10px 20px 10px 0;
  color:White;
  font-size:14px;
  text-align:left;
  text-indent:40px;
   
 
  /* Animations: */
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: .4s;
  -webkit-transition-property: all;
  
  -moz-transition-timing-function: ease-in-out;
  -moz-transition-duration: .4s;
  -moz-transition-property: all;
}

 input#login_anim:hover  {
  background-image: url(/Content/themes/base/images/btn-login-hover.png);
  background-position: 65px 5px;
  text-indent: 20px;  
}

.widget
{
   background: #fdfdfd;
    border: 1px solid #eaeaea;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-shadow: 0px 1px 0px 0px #adadad;
    box-shadow: 0px 1px 0px 0px #adadad;
    padding: 0 0 15px 0;
    margin-bottom: 30px;
    text-align: center;
    width: 200px;
    height: 600px;
    float: right;
    padding-top: 0px;
    display:block;
    overflow-y: scroll;    

}

.widget_title
{
    position:static;
    color: #ffffff;
    font-weight: 100;
    font-size: 1.3em;
    text-shadow: none;
    margin-top: 0;
    padding: 5px 10px 5px 23px;
    background: #b6b6b6;
    box-shadow: none;
    border-radius: 0;
    border: none;
}

.widget ul
{
    text-align:left;
   overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;   
}

.angular a {
    color:#262626;
    text-decoration: none; 
   }
  
  .angular a:hover {
    color: #002bb7 ;
    cursor:pointer;
    text-decoration: underline; 
   }
  
    .angular_button {
  display: inline-block;
  float:left;
  width: auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal medium/normal Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #22537B;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

 .angular_button:hover {
  border: 1px solid #007cad;
  background: rgba(0,142,198,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

 .angular_button:active {
  border: 1px solid #018dc4;
  background: #00a6e8;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
  text-shadow: none;
  -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}
 
    
  #card {
  width:300px;
  margin:50px auto 0;
}

#main_card {
  width:100%;
  border:1px solid #a9bccb;
  border-bottom:none;
	border-radius:0.4em 0.4em 0 0;
  background:linear-gradient(#EDEDED,#CCC);
  position:relative;
  padding:80px 10px 20px 10px;
  transition:all 0.3s ease-out;
  box-shadow: 0 2px 0 -1px rgba(0,0,0,0.2), 
    0 4px 0 -2px rgba(0,0,0,0.2), 
    0 6px 0 -3px rgba(0,0,0,0.2), 
    0 8px 0 -4px rgba(0,0,0,0.2), 
    0 10px 0 -5px rgba(0,0,0,0.2), 
    0 12px 0 -6px rgba(0,0,0,0.2),
    0 14px 0 -8px rgba(0,0,0,0.2);
}

#card h1 {
  font-weight:normal;
  color:#312d2a;
  
  font-size:18px;
  padding-bottom:7px;
  text-shadow:0 1px 0 rgba(255,255,255,1);
}

#card div {
 	color:#746d67;
  font-size:15px;
  letter-spacing:1px;
  font-weight:normal;


}

#img-wrapper img {
  display:block;
  margin:0 auto;
  margin-top:0px;
  border-radius:3px;
}

#img-wrapper {
 	position:absolute;
  top:-30px;
  left:50%;
  margin-left:-48px;
  box-shadow:0 0 4px rgba(0,0,0,0.2);
  width:100px;
  height:100px;
  background:#fff;
  border-radius:5px;
  border:1px solid rgba(0,0,0,0.3);
}

#card:hover #main_card {
 	 border:1px solid #a9bccb;
   box-shadow: none;
}

.input_file {
    position: relative;
    margin: 0 0 10px 0;
}

.input_file input[type=file] {
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: relative;
    z-index: 2;
    cursor: pointer;
    height: 34px;
    width: 300px;
}

.fake_file {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.fake_file input[type=button] {
    border-radius: 4px;
    behavior: url(PIE.htc);
    height: 28px;
    background-color:#f1f1f1;
    border: 1px solid #ccc;
    color: #262930;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 12px;
    cursor: pointer;
}
.fake_file_input{
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 4px;
    behavior: url(PIE.htc);
    position: relative;   
    font-size: 10px;
    width: 150px;
}

.name_topic
{
    color:#08A5AB;
    font-family: monospace;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: normal;
    font-style: inherit;
}


/*Sorting articles*/

.droplink ul,.droplink h3,.droplink h3 a{
padding:0;margin:0
}

.droplink {
width:200px;
position:absolute;

}

.droplink:hover{
height:auto;
background-color:#E6E6E6;
border:solid 1px #3A3C39;
border-style:hidden;
}

.droplink h3 a{
text-align:center;
width:100%;
display:block;
padding:12px 0px;
color:#245A83;
text-decoration:underline;
}
.droplink h3 a img{border:none}

.droplink:hover h3 a {
color:#7993B5;
position:absolute
}


.droplink ul{
list-style:none;
display:none
}

.droplink:hover ul{
display:block;
margin-top:40px
}
.droplink li{display:block}


.droplink li a{
padding:5px 12px 4px 34px;
margin:1px;
background-color:#F1F1F1;
display:block;
color:#262930;
text-decoration:none;
font-size:12px;
background-repeat:no-repeat;
background-position: 10px 3px
}

.droplink li a:hover{
background-color:#999
}


.wrapper{
    margin:0 auto;
    position:relative;
    width:250px;
    background-color:#FFF;    
    float:right;
    padding-right:15px;
}

.buttons a
{
    color:#245A83;
}

.buttons a:hover
{
    color:#287df5;
}