﻿@using ForumProject.PresentationLayer.Models
@model ForumProject.PresentationLayer.Models.ArticlePagingViewModel
@using PagedList.Mvc;
@using ForumProject.PresentationLayer.Helpers;

@{
    ViewBag.Title = "Index";  
}

@System.Web.Optimization.Scripts.Render(
                    "~/bundles/jquery",
                    "~/bundles/jqueryui",
                    "~/bundles/jqueryval",
                    "~/bundles/cookie",
                    "~/bundles/ListGridView",
                    "~/bundles/myScripts")



<div id="container">

    <div class="buttons">
        @Html.ActionLink(@Resources.Resource.NewTopic, "Create")

        <button class="grid">
            <img src="../../Content/themes/base/images/grid.png" height="30" width="30"></button>
        <button class="list">
            <img src="../../Content/themes/base/images/list.png"></button>

        <div class="wrapper">
            <div class="droplink">
                <h3><a href="#">@Resources.Resource.Sorting</a></h3>
                <ul>
                    <li>@Html.ActionLink(@Resources.Resource.SortingA, "Index", new { sort = "name_asc" })</li>
                    <li>@Html.ActionLink(@Resources.Resource.SortingZ, "Index", new { sort = "name_desc" })</li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <table class="list">

        @foreach (ArticleViewModel item in Model.Articles)
        {
               
            <tr>
                <td id="str1">@Html.ActionLink(item.Title, "Show", new { item.Id }, new { @class = "link" })


                    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.Identity.Name == item.NickName)
                    {
                    

                        <a href="@Url.Action("Delete", new { item.Id })">
                            <img src="@Url.Content("~/Content/themes/base/images/remove.png")" height="20" width="20", alt="Delete" />
                        </a>

                        <a href="@Url.Action("Edit", new { item.Id })">
                            <img src="@Url.Content("~/Content/themes/base/images/Edit.png")" height="20" width="20", alt="Edit" />
                        </a>

                    }
                </td>
                <td id="str2">@item.CountCommentByArticle comments</td>
                <td id="str3">@Resources.Resource.Author: @item.NickName</td>

            </tr>       
        }

    </table>
</div>
<div id="page">
    <div class="pagination">
        <p>@Resources.Resource.Page @(Model.PageInfo.TotalItems < Model.PageInfo.PageNumber ? 0 : Model.PageInfo.PageNumber) @Resources.Resource.PageOf @Model.PageInfo.TotalPages</p>
        @Html.PageLinks(Model.PageInfo.PageNumber, Model.PageInfo.TotalPages, page => Url.Action("Index", new { page = page }))
    </div>
</div>
<script>
    $(function () {
        var view = $.cookie('list_grid');
        if (view == 'grid') {
            $('#container table').addClass('grid');
        }
        else {
            $('#container table').addClass('list');
        }

    });

    $('button').on('click', function (e) {
        if ($(this).hasClass('grid')) {
            $('#container table').removeClass('list').addClass('grid');

            $.cookie('list_grid', 'grid');
        }
        else if ($(this).hasClass('list')) {
            $('#container table').removeClass('grid').addClass('list');
            $.cookie('list_grid', null);
        }
    });



</script>
